body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --neon-red: #FF5161;
  --neon-glow-red: #D30302;
  --neon-blue: #9461fd;
  --neon-glow-blue: #4003e6;
  --neon-white: #fefefe;
  --neon-glow-white: #ffffff;
}